[submodule "dpdk"]
	path = dpdk
	url = https://github.com/ihchoi12/dpdk.git
	branch = autokernel
[submodule "Pktgen-DPDK"]
	path = Pktgen-DPDK
	url = https://github.com/ihchoi12/Pktgen-DPDK.git
	branch = autokernel
[submodule "pcm"]
	path = pcm
	url = https://github.com/intel/pcm.git
[submodule "ddio-modify"]
	path = ddio-modify
	url = https://github.com/ihchoi12/ddio-modify.git
	branch = autokernel
